.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    overflow: hidden;
}

.navbar-brand {
    padding: 12px;
}

.sidebar.bg-light {
    background-color: darken(#f8f9fa, 3%) !important;
}

.active {
    background-color: darken(#f8f9fa, 15%);
}